@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f8f9fa];
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.prose {
  max-width: 65ch;
  line-height: 1.75;
}

.prose p {
  margin-bottom: 1.5em;
  color: #4b5563;
}

.prose-lg {
  font-size: 1.125rem;
  line-height: 1.75;
}